    @keyframes one
{
from{left:30px;}
to{left:-5000px;}
}

body{
    background: radial-gradient(circle at bottom right, rgba(151, 0, 136, 0.778), transparent 60%),
              radial-gradient(circle at top left, rgba(236, 8, 114, 0.7), transparent 60%),
              linear-gradient(135deg, #0a0021, #1a0033 60%);
  background-size: cover;
  background-position: center;
    
}
#navbar{display: flex;
margin-left: 30px;}
#logo{color:white;
 font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;

margin-top: -18px;
  font-style: normal;
font-size: 25px;}
#bar{margin-top: 20px;
margin-left: 250px;}
#bar li{ list-style: none;
    
}

#bar li ul{display: inline;
margin: 40px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 500;
padding: 5px;
color: white;
font-size: larger;
;}
a {
  color: inherit;
  text-decoration: none;
   background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  color: rgb(255, 255, 255);
  display: inline-block;
  text-decoration: none;
  transition: background-size 0.5s;
}
a:hover {
  --underline-width: 100%;

}
#bar li ul:hover{display: inline;
margin: 40px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 500;

  text-underline-position: auto;
padding: 5px;
color: white;
font-size: larger;
;}
#navbar button{
  font-size:18px;
  color: white;
  background-color: rgb(93, 5, 236);
   display: inline-block;
  border: none;
  width:110px;
  height: 60px;
  padding: 1px;
  border-radius: 10px;
  margin-left:140px;
  margin-top: 5px;
  transition: 0.4s;
}
#navbar button:hover{
  font-size:20px;
  cursor: pointer;
}



@media only screen and (max-width: 392px) {
   body{

  background: radial-gradient(circle at bottom right, rgba(151, 0, 136, 0.778), transparent 60%),
              radial-gradient(circle at top left, rgba(236, 8, 114, 0.7), transparent 60%),
              linear-gradient(135deg, #0a0021, #1a0033 60%);
  background-size: cover;
  background-position: center;
    
}
   
#navbar{display: flex;

margin-left: 1px;
}

#logo{color:rgb(255, 255, 255);
 font-family: "PT Sans Narrow", sans-serif;
  font-weight: 00;
margin-top: px;
  font-style: normal;
font-size: 15px;}


a {
  
  color: inherit;
  text-decoration: none;
   background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  color: rgb(255, 255, 255);
  display: inline;
  text-decoration: none;
  transition: background-size 0.5s;
}
a:hover {
  --underline-width: 100%;

}

#bar{margin:auto;
display: inline;}

#bar li{ list-style: none;
   
    margin-top: -15px;
}

#bar li ul{display:inline;
   
margin:2px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 500;
padding: -px;
color: white;
font-size:10px;
;}

#navbar button{display: none;
  font-size:8px;
  color: white;
  width: 40px;
  height:40px;
  background-color: rgb(68, 1, 175);
 
  border: none;
  
  border-radius: 10px;
  
  
  transition: 0.4s;
}
#navbar button:hover{
  font-size:20px;
  cursor: pointer;
}

    
}












.container{width: 100%;
  display: flex;
height: 100%;
margin-left: 10px;
margin-top: 90px;}
.con{width: 45%;}
.container h1{color: white;
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 26px;
}
.container span{color: rgb(219, 243, 5);
text-transform: capitalize;
font-size: 44px;
 font-family: "PT Sans Narrow", sans-serif;}

 .container p{color: #ffffff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 23px;
}
#ima{width:40%;
margin-top:-50px;
margin-left: 160px;
}

.pic{width: 250px;
 transform: rotatez(-20deg);
  transform-style: preserve-3d;
  transition: 0.4s;
border-radius: 0px;  
;}

.pic:hover{width: 270px;
  transform: rotatez(0deg);
  border-radius: 10px; 

;}




@media only screen and (max-width: 392px) {

.container{width: 100%;
  display: block;
height: 100%;
margin-left: 10px;
margin-top: 10px;}

.con{width: 100%;}
.container h1{color: white;
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 26px;
}
.container span{color: rgb(219, 243, 5);
text-transform: capitalize;
font-size: 44px;
 font-family: "PT Sans Narrow", sans-serif;}

 .container p{color: #ffffff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
}
#ima{width:60%;
margin-top: 30px;
margin-left: 70px;

}

.pic{width: 180px;
 transform: rotatez(-20deg);
  transform-style: preserve-3d;
  margin: 10px;
  padding: 2px;
  transition: 0.4s;
border-radius: 0px;  
;}

.pic:hover{width: 170px;
  transform: rotatez(0deg);
  border-radius: 10px; 
}

}






#category{
  background-color: #5f0276;
margin-top: 80px;
  display: flex;
  
}
#ct{ color: white;
 
  font-size: 18px;
  margin-left: 20px;
 font-family: "PT Sans Narrow", sans-serif;}
#ft{justify-content:right;
color: #dede02;
margin-top: 15px;
margin-left: 510px;}

#ft:hover{justify-content:right;
color: #00ffd0;
cursor: pointer;
margin-top: 15px;
transition: 0.5s;
margin-left: 510px;}

#ft ul li {display: inline;
margin: 10px;
 font-family: "PT Sans Narrow", sans-serif;
font-size: 20px;
font-weight: 500;
color: #dede02;}

@media only screen and (max-width: 392px) {

#category{
  background-color: #590065;
margin-top: 80px;
   display: flex;
  flex-direction: column;
  
}
#ct{ color: white;
 
  font-size: 18px;
  margin-left: 20px;
 font-family: "PT Sans Narrow", sans-serif;}

#ft{justify-content:left;
color: #dede02;
margin-top: 15px;

margin-left: 4px;}

#ft ul li {
  display: block;
margin: 4px;

 font-family: "PT Sans Narrow", sans-serif;
font-size: 20px;
font-weight: 500;
color: #dede02;}
}




section{color: white;
  display:flex; 
  font-family: Arial, Helvetica, sans-serif;
justify-content:center;
flex-wrap:wrap;
font-size: 30px;}

#card1{margin: 15px;}

.card{width: 300px;
height: 200px;
transition: 0.5s;}

.card:hover{width: 310px;
height: 210px;}

@media only screen and (max-width: 392px) {
section{color: white;
  display:flex; 
  font-family: Arial, Helvetica, sans-serif;
justify-content:center;
flex-wrap:wrap;
font-size: 30px;}

#card1{margin: 15px;}

.card{width: 300px;
height: 200px;
transition: 0.5s;}

.card:hover{width: 310px;
height: 210px;}

}


#CONTEST
{

 font-family: Arial, Helvetica, sans-serif;
 overflow-block: none;
 box-sizing:border-box;
 padding: 2px;
  font-optical-sizing: auto;
  font-weight:500;
  font-style:bold;
  margin-top: 0px;
background-color:#6b0050;
box-sizing:border-box;
width:12400px;
height:60px;
font-size:18px;
position: fixed;
color:white;
position:relative;
animation:one 30s infinite linear;
}


@media only screen and (max-width: 392px) {
body{
  overflow-x: hidden;
}

  #CONTEST
{
 font-family: Arial, Helvetica, sans-serif;
 overflow-block: none;
 box-sizing:border-box;
 padding: 2px;
  font-optical-sizing: auto;
  font-weight:500;
  font-style:bold;
background-color:#6e007a;
box-sizing:border-box;
width:12400px;
height:60px;
font-size:18px;
margin-top: 20px;
position:fixed;
color:white;
position:relative;
animation:one 30s infinite linear;
}}